## Setting up the environment

In [8]:
#importing libraries

import pandas as pd
import numpy as np

### Read the data from previous notebook

In [9]:
#Get the dataframe from previous notebook
df=pd.read_csv('Week3Part1.csv')
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### Get latitude longitude data

In [10]:
#Read the csv file containing latitude and longiutde information
linkurl='https://cocl.us/Geospatial_data'
dflatlong=pd.read_csv(linkurl)
dflatlong.rename(columns={'Postal Code':'PostalCode'},inplace=True)
dflatlong.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

### Merge the latitude and longitude data of the neighborhoods

In [11]:
#Merge the lat long data with the original dataframe
dffinal=pd.merge(df,dflatlong,on='PostalCode',how='inner')
dffinal.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### Final result

In [12]:
dffinal.shape

(103, 5)

### Saving the dataframe

In [13]:
dffinal.to_csv('Week3Part2.csv',header=True,index=False)